body {
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}

header {
    padding: 20px;
}

a {
    text-decoration: none;
    color: black;
}

nav {
    display: flex;
    justify-content: space-between;
}

.menuLinks {
    display: flex;
    grid-gap: 18px;
    align-items: center;
}

.menuLink {
    color: white;
}

button {
    border: none;
    background: #0b57d0;
    padding: 10px 19px;
    border-radius: 100px;
}

.gridDots {
    grid-gap: 0;
    display: flex;
    flex-direction: column;
}

.middleDots {
    margin: -10px 0;
    transition: 300ms ease-in-out;
}

.gridDots:hover .middleDots {
    margin: -20px 0;
}